*{
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    background-color: black;
    padding: 12px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    gap:28px;
}
.links-bar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.join-login{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.join{
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #1C5CD9;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}
.login{
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #1C5CD9;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}
.course-section{
    padding-top: 32px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
   
}
h1{
    font-size: 32px;
    font-weight: 600;
    width: fit-content;
}
h2{
    font-size:24px;
    font-weight: 600;
    width: fit-content;
}
.heading-head{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-bottom: 40px;
}
.main-course-content{
    width: 350px;
    padding: 0px 10px 10px 10px;
}
.course-time{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
.course-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    margin-top: 20px;

}
.getstarted{
    width: 120px;
    height: 35px;
    border-radius: 4px;
    border: none;
    background-color: #1C5CD9;
    color: aliceblue;
}
.second-course{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    gap: 20px;
}
.courses{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    justify-content: center;
}
p{
    font-size: 16px;
}

.whatweoffer{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row1 ,.row2{
    padding-bottom: 40px;
    gap: 160px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.offer1, .offer2, .offer3, .offer4, .offer5, .offer6{
    align-items: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}
.testimon{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}
.our-testimonial{
    position: relative;
}
.testimonial{
    display: flex;
    align-items: flex-start;
    width: 1000px;
    justify-content: space-evenly;
    position: absolute;
    top: 150px;
    left: 150px;
    color: white;
}
.presence{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.countries img{
    width: 240px;
    height: 160px;
}
.countries h2{
    font-size: 20px;
}
.countries{
    padding-top: 20px;
    display: flex;
    gap: 160px;

}
.countries .india{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.faq-section{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}
.faq-container {
    width: 80%;
    margin: 0 auto;

}

.faq-item {
    margin-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #b9b9b9;
}

.faq-question {
    padding: 10px;
    cursor: pointer;
}

.faq-answer {
    padding: 10px;
    display: none;
}
.faq-question{
    font-weight: 600;
}
.app{
    display: flex;
    flex-direction: column;
}
.footer li{
    list-style: none;
    color: #b4b4b4; 
}
.footer a{
    text-decoration: none;

}
.footer{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    background-color: black;
    padding-right: 40px;
}
.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 0.2px solid #b4b4b4;
    padding: 20px;
    background-color: black;
}
.socials ul{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.socials ul li{
    list-style: none;
}
.courses-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: px;
}
.main-course1,.second-course{
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.course-section2{
    padding: 0px 0px 0px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.about-us{
    background-image: url("aboutbackgroud.png");
    background-repeat: no-repeat;
    background-size:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.improve{
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#user-work{
    background-color: #050845;
    padding: 24px;
    border-radius: 8px;
}
.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.cars-works{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='902' height='60' viewBox='2 5 902 25' fill='none'%3E%3Cpath d='M1 17.0037C243.736 -35.3377 623.297 61.3242 901 17.0037' stroke='%23D5D5D5' stroke-width='2' stroke-linecap='round' stroke-dasharray='8 8'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 750px;
    background-position-x: center;

}



/* Shivam CSS from here */




